<div class="container" id="partidos-activos">
    <h3>Partidos en juego</h3>
    <br>                                  
    <div class="dropdown">
      <button id="btn-drop" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Partidos
      <span class="caret"></span></button>
      <ul class="dropdown-menu" >
        <li *ngFor = "let match of result?.matchs"><a (click)="seleccionarPartido(match)" href="#">
        {{match?.localTeam.name }} vs {{match?.visitorTeam.name }}</a></li>
      </ul>
    </div>
    <br>
    <detalle-partido [partidoActivo]="partidoElegido"></detalle-partido>
  </div>